/* src/index.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #111827; /* Tailwind's gray-900 */
  color: #fff;
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  border-radius: 0;
}

img {
  max-width: 100%;
  display: block;
}